<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>

  <title> {% block title %} {% endblock title %} Scraper</title>
</head>

<body>
  <div class="d-flex justify-content-center">
    <form name="myForm">
      <div class="w-100 input-group m-3">
        <input type="text" class="form-control" name="search" id="search" placeholder="Search" aria-label="Search"
          aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" id="button-addon2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
        <button type="reset" class="btn btn-outline-secondary" id="button-addon2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
            viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </button>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="w-75 row" id="app">
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
    integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
    crossorigin="anonymous"></script>
</body>
<script>
  var all_data = {{ all_datas | tojson | safe}}
  console.log(all_data[0])
  var render = function (datas) {
    var app = document.getElementById('app');
    // var datas=app_datas
    console.log(datas[0])
    var appsHTMLString =
      datas.map(function (data) {
        return `<div class="col-sm-1 mb-sm-0 col-lg-3">
                  <div class="card m-1">
                    <img src=${data.headerImage} class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">${data.title}</h5>
                      <p class="card-text">${data.summary}</p>
                      <a href="/details/${data.appId}" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>`;
      });;

    app.innerHTML = appsHTMLString;
  }
  render(all_data)

  var handleSearch = function (event) {
    event.preventDefault();
    // Get the search terms from the input field
    var searchTerm = event.target.elements['search'].value;
    // Tokenize the search terms and remove empty spaces
    var tokens = searchTerm
      .toLowerCase()
      .split(' ')
      .filter(function (token) {
        return token.trim() !== '';
      });
    if (tokens.length) {
      //  Create a regular expression of all the search terms
      var searchTermRegex = new RegExp(tokens.join('|'), 'gim');
      var filteredList = all_data.filter(function (data) {
        // Create a string of all object values
        var appString = data['title'];
        // Return app objects where a match with the search regex if found
        return appString.match(searchTermRegex);
      });
      // Render the search results
      render(filteredList);
    }
  };
  document.addEventListener('submit', handleSearch);

  document.addEventListener('reset', function (event) {
    event.preventDefault();
    document.myForm.search.value = ''
    render(all_data);
  });

</script>

</html>